.block-calculator-block {
  table.storage {
    border-collapse: collapse; margin:20px auto 0;
    width: 90%;

    th, td {
      border:1px solid black; text-align: center; padding:5px;
    }

    th:nth-child(1n+3){
      width:130px;
    }

    thead {
      font-weight:800; background-color:#d6d7d8;
    }

    @include media($bp_mobile) {
      //font-size: 10px;
    }
  }

  div.summary {
    margin:20px auto;
    border-radius: 5px;
    padding:10px 5px;
    border: 2px groove threedface;
    text-align: center; width: 90%;

    h3 {
      display: inline;
      font-weight: bold;
      width:255px
    }
  }

  ul.summary {
    display: inline;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      display: inline;
      padding: .25em;

      &:nth-child(1){
        background-color:#2F679A; width: 130px;
      }
      &:nth-child(2){
        background-color:#00FFFF; width: 130px;
      }
      &:nth-child(3){
        background-color:#FFA500; width: 130px;
      }
      &:nth-child(4){
        background-color:#FF0000; width: 130px;
      }
      &:nth-child(5){
        background-color:#000; width: 130px;
        color:#fff;
      }
    }
  }

  .columns {
    margin-left: span(1);
    margin-right: span(1);
  }
  .columns>.col {
    margin: gutter() / 2;
    text-align: center;

    .ui-slider {
      background-color: #858585;
      border: none;
      margin-top: 1em;
    }

    .price input {
      width: 100%;
      border: none;
      background-color: transparent;
      text-align: center;
    }

    &.slider-lpg {
      .ui-slider {
        background-color: #326896;
      }
    }

    &.slider-gaz {
      .ui-slider {
        background-color: #3dc2c1;
      }
    }
    &.slider-diesel {
      .ui-slider {
        background-color: #fca428;
      }
    }

    &.slider-electricity {
      .ui-slider {
        background-color: #fa0d1b;
      }
    }

    &.slider-pellets {
      .ui-slider {
        background-color: #000000;
      }
    }
  }


  .details-title {
    @include fullWidth;

    background-color: $c_primary;
    color: white;
    overflow: hidden;

    .details-title--inner {
      @include container;

      text-align: center;
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }

  .boiler_power {
    margin:20px auto;
    border-radius: 5px;
    padding:10px 5px;
    border: 2px groove threedface;
    text-align: center; width: 90%;
  }

  .footer {
    max-width: 90%;
    margin: 1rem auto;
  }
}
