.block-uag-post-meta {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);

  text-align: right;
  background-color: $c_gray;
  color: $c_white;
  //transform: translateY(-1.7em);
  border: 2px solid $c_white;
  padding: .5em;
  font-size: 0.8em;
  width: 100%;

  &.node-type-news {
    max-width: 60em;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
