.paragraph--type--write-about-us {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;


  .field--name-field-title {
    font-size: 2em;
    margin-left: 0;
    margin-right: auto;
    color: $c_gray
  }

  .field--name-field-content {
    display: flex;
    flex-flow: row;

    > .field__item {
      .media .field--name-field-media-image img {
        height: 2em;
        width: auto;
      }
    }
  }
}
