.region-catalog-side {
   .block-facets {
     h2 {
       background-color: $c_lightest_gray;
       color: black;
       font-size: 1.5em;
       text-transform: none;
       padding: .5em;
     }
   }
}
